---
---




<div class="max-w-screen-xl block mx-auto mt-40 p-4">
    <p>Our Services</p>
    <h2 class="text-3xl font-bold">What do we do?</h2>
    <div class="flex flex-wrap justify-center gap-8 mt-24">
        <div class="w-full lg:max-w-sm p-6 grow bg-white border border-gray-200 rounded-lg shadow ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-devices" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 9a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1v-10z" /><path d="M18 8v-3a1 1 0 0 0 -1 -1h-13a1 1 0 0 0 -1 1v12a1 1 0 0 0 1 1h9" /><path d="M16 9h2" /></svg>
            <a  href="#">
                <h5 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900 ">Web Full-stack Applications</h5>
            </a>
            <p class="mb-3 font-normal text-gray-500">
                Embark on a transformative journey with NidoSoft's visionary team as we meticulously architect robust and user-friendly full-stack applications, each one a masterpiece crafted to align seamlessly with your unique requirements and preferences. Immerse yourself in the boundless realm of innovation – explore our insightful guidelines and witness the convergence of cutting-edge technology and creative ingenuity.
            </p>
            <a href="webapplicationguide" class="inline-flex items-center text-blue-600 hover:underline">
                See our guideline
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                </svg>
            </a>
        </div>
    
    
       
    
    
        <div class="w-full lg:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lifebuoy" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M15 15l3.35 3.35" /><path d="M9 15l-3.35 3.35" /><path d="M5.65 5.65l3.35 3.35" /><path d="M18.35 5.65l-3.35 3.35" /></svg>
            <a href="#">
                <h5 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900 ">Software Support and Maintenance</h5>
            </a>
            <p class="mb-3 font-normal text-gray-500">Navigate the intricate world of software support and maintenance with NidoSoft's guiding hand. Our comprehensive, step-by-step guidelines transcend mere solutions; they encapsulate a journey of certainty, ensuring that your software not only stands supported but thrives amidst the dynamic digital landscape. Explore our illuminating guidelines and let NidoSoft pave the way for your uninterrupted digital excellence.</p>
            <a href="/softwaresupportguide" class="inline-flex items-center text-blue-600 hover:underline">
                See our guideline
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                </svg>
            </a>
        </div>

        <div class="w-full lg:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tools" width="40" height="40" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 1l5.92 3.02a1 1 0 0 1 .5.87V18a3 3 0 0 1 -3 3H6a3 3 0 0 1 -3-3V5.89a1 1 0 0 1 .5-.87L12 1z" />
                <path d="M9 17v1a1 1 0 0 0 1 1h4a1 1 0 0 0 1 -1v-1" />
                <line x1="3" y1="9" x2="21" y2="9" />
                <line x1="9" y1="7" x2="9" y2="11" />
                <line x1="15" y1="7" x2="15" y2="11" />
            </svg>
            <a href="#">
                <h5 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">Software Consulting Services</h5>
            </a>
            <p class="mb-3 font-normal text-gray-500">
                Elevate your business with NidoSoft's expert software consulting services. Our seasoned consultants work closely with you to understand your unique requirements, providing tailored solutions that empower your digital initiatives. From strategy development to implementation, we guide you through every step of the process, ensuring the success of your software projects.
            </p>
            <a href="/softwareconsultingguide" class="inline-flex items-center text-blue-600 hover:underline">
                Explore Our Services
                <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
                </svg>
            </a>
        </div>

    </div>
    
</div>