---
---




<div class="max-w-screen-xl block mx-auto mt-40 p-4">
    <p>Our Team</p>
    <h2 class="text-3xl font-bold">Who are we?</h2>
    <div class="flex flex-wrap justify-center gap-8 mt-24">
        <div class="w-full lg:max-w-sm p-6 grow bg-white border border-gray-200 rounded-lg shadow ">
           <img class="bg-gray-500 h-14 w-14 rounded-full" src="./ronald.jpeg">

           
            <a href="https://www.linkedin.com/in/ronaldcoello/" target="_blank">
                <h5 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900 ">Ronald Coello</h5>
            </a>
            <p class="mb-3 font-normal text-gray-500">
                Co-founder and CEO.
            </p>
            
        </div>
    
    
        <div class="w-full lg:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <img class="bg-gray-500 h-14 w-14 rounded-full" src="./lakeram.jpeg">

            
            <a href="https://www.linkedin.com/in/lakeram-narine-24168a203/" target="_blank">
                <h5 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900">Lakeram Narine</h5>
            </a>
            <p class="mb-3 font-normal text-gray-500">
                Co-founder and CTO.
            </p>
           
        </div>
    
    
        <div class="w-full lg:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <img class="bg-gray-500 h-14 w-14 rounded-full" src="./nick.jpeg">

        
            <a href="https://www.linkedin.com/in/nick-graham-aa9695267/" target="_blank">
                <h5 class="mb-2 mt-6 text-2xl font-semibold tracking-tight text-gray-900 ">Nick Graham</h5>
            </a>
            <p class="mb-3 font-normal text-gray-500">
                Co-founder and Head of Growth and Product
            </p>
            
        </div>
    </div>
    
</div>