---
---

<div class="bg-zinc-50">
    <div class="max-w-screen-xl flex flex-col gap-16 md:flex-row mx-auto mt-40 px-4 py-20">
        <div class="max-w-[600px]">
            <p>Our Values</p>
            <h2 class="text-3xl font-bold">How do we do it?</h2>
            <p class="text-gray-500 mt-8 text-xl sm:text-2xl md:text-2xl">
                Our approach is built on a foundation of cutting-edge technologies and industry best practices.
            </p>
    
            <div class="flex flex-col gap-9 mt-12">
                <div class="flex items-center gap-7">
                    <div class="bg-yellow-400 p-2 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        class="icon icon-tabler icon-tabler-award-filled" 
                        width="30" height="30" viewBox="0 0 24 24" 
                        stroke-width="2" stroke="#ffffff" fill="#ffd700"  
                        stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M19.496 13.983l1.966 3.406a1.001 1.001 0 0 1 -.705 1.488l-.113 .011l-.112 -.001l-2.933 -.19l-1.303 2.636a1.001 1.001 0 0 1 -1.608 .26l-.082 -.094l-.072 -.11l-1.968 -3.407a8.994 8.994 0 0 0 6.93 -3.999z" stroke-width="0" fill="#ffffff" />
                            <path d="M11.43 17.982l-1.966 3.408a1.001 1.001 0 0 1 -1.622 .157l-.076 -.1l-.064 -.114l-1.304 -2.635l-2.931 .19a1.001 1.001 0 0 1 -1.022 -1.29l.04 -.107l.05 -.1l1.968 -3.409a8.994 8.994 0 0 0 6.927 4.001z" stroke-width="0" fill="#ffffff" />
                            <path d="M12 2l.24 .004a7 7 0 0 1 6.76 6.996l-.003 .193l-.007 .192l-.018 .245l-.026 .242l-.024 .178a6.985 6.985 0 0 1 -.317 1.268l-.116 .308l-.153 .348a7.001 7.001 0 0 1 -12.688 -.028l-.13 -.297l-.052 -.133l-.08 -.217l-.095 -.294a6.96 6.96 0 0 1 -.093 -.344l-.06 -.271l-.049 -.271l-.02 -.139l-.039 -.323l-.024 -.365l-.006 -.292a7 7 0 0 1 6.76 -6.996l.24 -.004z" stroke-width="0" fill="#ffffff" />
                        </svg>
                    </div>
                    <div>
                        <p class="text-2xl text-gray-500">Quality over Everything</p>
                        <p class="text-gray-500">We prioritize quality in every aspect of our development process, ensuring that our solutions meet the highest standards.</p>
                    </div>
                </div>
                <div class="flex items-center gap-7">
                    <div class="bg-yellow-400 p-2 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        class="icon icon-tabler icon-tabler-list-check" 
                        width="30" height="30" viewBox="0 0 24 24" 
                        stroke-width="2" stroke="#ffffff" fill="none" 
                        stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
                            <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
                            <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
                            <path d="M11 6l9 0" /><path d="M11 12l9 0" />
                            <path d="M11 18l9 0" />
                        </svg>
                    </div>
                    <div>
                        <p class="text-2xl text-gray-500">Test-Driven Development</p>
                        <p class="text-gray-500">Our approach involves rigorous testing to guarantee the reliability and functionality of our software.</p>
                    </div>
                    
                </div>
                <div class="flex items-center gap-7">
                    <div class="bg-yellow-400 p-2 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                        class="icon icon-tabler icon-tabler-user" 
                        width="30" height="30" viewBox="0 0 24 24" 
                        stroke-width="2" stroke="#ffffff" 
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                    </div>
                    <div>
                        <p class="text-2xl text-gray-500">Customer-Focused</p>
                        <p class="text-gray-500">Your satisfaction is our priority. We work closely with you to understand your needs and deliver solutions that exceed your expectations.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="relative mx-auto border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
            <div class="h-[32px] w-[3px] bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
            <div class="h-[46px] w-[3px] bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
            <div class="h-[64px] w-[3px] bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
            <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white">
                <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png" class="dark:hidden w-[272px] h-[572px]" alt="">
                <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png" class="hidden dark:block w-[272px] h-[572px]" alt="">
            </div>
        </div>

    </div>
</div>